body {
  margin: 0;
  background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}



.mbr-fallback-image.disabled {
  display: none;
}
.mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.content-wrapper {
  position: relative;
  padding: 46px 24px;
  overflow: hidden;
  border: 1px solid #000000;
  background-color: #ffffff;
  @media (max-width: 992px) {
    padding: 24px 14px 0 14px;
  }
  .mbr-section-title {
    position: relative;
    z-index: 1;
    margin-bottom: 48px;
    @media (max-width: 992px) {
      margin-bottom: 32px;
    }
  }
  .items-wrap {
    position: relative;
    z-index: 1;
    justify-content: center;
    margin: 0 -7px;
    .item {
      padding: 0 7px;
      margin-bottom: 14px;
      .item-wrapper {
        padding: 46px 24px;
        border: 1px solid #000000;
        height: 100%;
        @media (max-width: 992px) {
          padding: 14px;
        }
        .card-box {
          .item-number {
            margin-bottom: 16px;
          }
          .item-title {
            margin-bottom: 16px;
          }
          .item-text {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
.mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.item-number {
  color: #bcfe1e;
}
.item-title {
  color: #ffffff;
}
.item-text {
  color: #ffffff;
}
